body {
  background-color: #000000;
  color: #fff;
}

.main-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.star, .wars {
  margin: 10px 0;
  width: 100%;
}

.star {
  animation: star 5s ease-out;
}

.wars {
  animation: wars 5s ease-out;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu-header, .menu-item {
  list-style: none;
  list-style: none;
  margin: 10px;
  text-align: center;
}

.menu-header {
  font-size: 2em;
  padding-bottom: 20px;
}

.menu-item {
  font-size: 1.3em;
  cursor: pointer
}

.menu-item.active {
  color: #ffe21f;
}

.episode-statistics {
  margin-top: 40px;
}

.ui.statistic >.value .icon, .ui.statistics .statistic>.value .icon {
  margin-right: 10px;
}


@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: translateZ(-1000em);
  }
}

@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: translateZ(-1000em);
  }
}
